# -------------------------------------------------
# UTF-8 encoding
# -------------------------------------------------

# Use UTF-8 encoding for anything served text/plan in text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .html .css .js .cml .json .rss .atom .md

# -------------------------------------------------
# Directory Browsing
# -------------------------------------------------

Options +Indexes

# -------------------------------------------------
# Handling CORS
# -------------------------------------------------

# Header Set Access-Control-Allow-Origin https://adrianskar.com
Header Set Access-Control-Allow-Origin *
# Header set Access-Control-Allow-Origin "http://127.0.0.1:5500"

# -------------------------------------------------
# Directory Authentication
# -------------------------------------------------
#AuthType Basic
#AuthName "The Realm of Westeros"
#AuthUserFile  /Applications/MAMP/user-pass/.htpasswd
#Require  user bob
#Require valid-user

# Examples of creating passwords from Terminal
#/path/to/htpasswd -c /etc/htpasswd/.htpasswd user1
#/path/to/htpasswd /etc/htpasswd/.htpasswd user2